@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    /* Light Theme */
    --bg-app: #fafaf9; /* stone-50 */
    --bg-card: #ffffff; /* white */
    --text-primary: #0f0f0f; /* carbon */
    --text-secondary: #78716c; /* stone-500 */
    --border-color: #f3f4f6; /* vapor */
    --accent: #cc5500; /* terracotta */
  }

  .dark {
    /* Dark Theme */
    --bg-app: #0c0a09; /* stone-950 */
    --bg-card: #1c1917; /* stone-900 */
    --text-primary: #e7e5e4; /* stone-200 */
    --text-secondary: #a8a29e; /* stone-400 */
    --border-color: #292524; /* stone-800 */
    --accent: #cc5500; /* terracotta */
  }

  body {
    background-color: var(--bg-app);
    color: var(--text-primary);
    @apply antialiased transition-colors duration-300;
  }
}

@theme inline {
  --color-background: var(--bg-app);
  --color-foreground: var(--text-primary);
  --color-accent: var(--accent);
  --color-card: var(--bg-card);
  --color-border-custom: var(--border-color);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --font-sans: "Inter", system-ui, sans-serif;
  --font-serif: "Times New Roman", Times, serif;
}
